:root {
    --gradient: linear-gradient(144deg,
            #354f52,
            #859e86,
            #361515c1,
            #110f17,
            #303030,
            #787f85c2,
            #978963,
            #282729,
            #361515c1,
            #110f17)
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    /* background: -webkit-linear-gradient(to right, #303030, #361515c1); */
    background-image: var(--gradient);
    background-size: 987%;
    animation: bg-animation 377s infinite alternate;
    /* background: url('/pictures/echo.png') no-repeat 50% 50%; */
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
    /* overflow: hidden;
    object-fit: cover;
    font-size: 16px;
    line-height: 1.3; */
    /* font-family: 'Neue Montreal', sans-serif; */
    /* border: 0; */
    /* padding: .5em 1.5em; */
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

::-webkit-scrollbar {
    display: none;
}


.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* .section {
    display: flex;
    align-items: center;
    width: 100vh;
    height: 100vh;
    position: relative;
    justify-content: center;
    overflow: hidden;
    color: #ffededaf;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
} */

/* .section:nth-child(odd) {
    justify-content: flex-end;
} */

.logo {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 2em;
    width: 18px;
    height: 18px;
    /* background: #361515; */
    border-radius: 100%;
    z-index: 10000;
    background-image: var(--gradient);
    background-size: 987%;
    background-position: left;
    transition: background-position 3s cubic-bezier(.87, -1.38, .03, 1.54);
}

.logo:hover,
.logo:focus {
    background-position: right;
}