:root {
    --gradient: linear-gradient(144deg,
            #354f52,
            #859e86,
            #361515c1,
            #110f17,
            #303030,
            #787f85c2,
            #978963,
            #282729,
            #361515c1,
            #110f17);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: radial-gradient(circle, #110f17 0%, #282729 50%, #303030 100%);
    background-blend-mode: overlay;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Neue Montreal', sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    background-size: 500%;
    mix-blend-mode: overlay;
    opacity: 0.8;
    animation: bg-pulse 20s infinite alternate ease-in-out;
}

@keyframes bg-pulse {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.logo {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 2em;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    z-index: 10000;
    background-image: var(--gradient);
    background-size: 987%;
    background-position: left;
    transition: background-position 3s cubic-bezier(.87, -1.38, .03, 1.54);
}

.logo:hover,
.logo:focus {
    background-position: right;
}